body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 600px;
}

h1, ul, p{
    margin: 0px;
}

ul{
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;/*Herda valor do pai-cor branco*/
}

img{
    max-width: 100%;
    display: block;
}

.header-bg{
    background-color: #000000 ;
}

.header{
    display: flex ;
    flex-wrap: wrap /*Quebra linha no modo responsivo*/;
    gap: 20px; /*Distancia dos elementos no modo responsivo*/
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu{
    display: flex ;
    gap: 40px;
}

.header-menu a{ /* Aumenta area de contato do link interno*/
    color: #ffffff;
    display: inline-block;
    padding: 16px 16px;
    border-radius: 4px;
    font-size: 18px;
    position: relative;/*Resolve problema com Elemento pegando toda largura */
    font-family: 'Poppins';
    font-weight: 400;
}

.header-menu a:after{ /*Elemento com transições abaixo dos menus no header*/
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: #ffffff;
    margin-top: 4px;
    transition: 0.3s;
    position: relative;/*Retira o Elemento do fluxo e não quebra centralização com a imagem do logo*/
}

.header-menu a:hover:after{/*Elemento abaixo do header menus*/
    width: 100%;
}



/*RESPONSIVO*/
@media (max-width: 800px){
    .header-menu{
        gap: 20px;
    }
    .header-menu a{
        background: #111111;
        padding: 12px 16px;
        border-radius: 4px;
    }
    .header-menu a:hover{ 
        background-color: #2e2e2e;
    }
    .header a:after{
        display: none;
    }
}

@media (max-width: 600px){
    .header-menu{
    gap: 12px;
    }
    .header-menu a{
        padding: 8px 12px;
        font-size: 14px;
    }
}
/*****************INTRODUÇÃO**********************/
.introducao-bg{
    background: #000000;
    color: #ffffff ;
    box-shadow: inset 0px -120px #ffffff;/*Criado sombra interna branca que deixa a imagem de forma negativa*/

}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 200px;
}

.introducao img{
    height: 100%;
    object-fit: cover;
}

.introducao h1{
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    font-family: 'Poppins';
    font-weight: 600;
}

.introducao h1 span{
    color: #ffbb00;
}

.introducao p{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;
    font-family: 'Roboto';
    font-weight: 400;
}

.introducao a{
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#FFBF00, #F2A50C);
    border-radius: 4px;
    box-shadow:  0 1px 2px rgb(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #332200;
    font-size: 18px;
    line-height: 1.33; 
    font-family: 'Poppins';
    font-weight: 600;
}

.introducao a:hover{
    background: linear-gradient(#FFB60d, #e59317);
}

@media (max-width: 600px){
    .introducao a{
        padding: 12px 16px;
        font-size: 16px;
    }
}

@media(max-width: 1200px){
    .introducao h1{
        font-size: 48px;
    }
    .introducao p{
        font-size: 18px;
    }
}
@media(max-width: 800px){
    .introducao-bg{
        background: #111111;
        padding-top: 40px;
        box-shadow: inset 0 -60px #ffffff;
    }
    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao-conteudo{
        padding-bottom: 0px;
    }
    .introducao h1{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introducao img{
        height: 300px;
        width: 100%;
    }
}