@import"./global/global.css";
@import"./global/header.css";
/*-------------UTILIDADES----------*/
@import"./utilidades/componente.css";
@import"./utilidades/tipografia.css";
@import"./utilidades/cores.css";
/*----------------HOME-------------*/
@import"./home/introducao.css";