/* 4 Adicione o atributo data-anime ao elemento que
deseja animar. Informe o total em milessegundos, que o JavaScript
deve esperar até a animação iniciar 

<h1 data-anime="500">Título do Site</h1>
<p data-anime="1000">Descrição da Página</p>
<button data-anime="1500">Clique Aqui</button>

 5 Para criar animações diferentes, adicione classes
aos elementos que deseja diferenciar. E defina o transform
inicial da animação na classe 

<h1 data-anime="500" class="fadeInDown">Título do Site</h1>
<p data-anime="1000" class="fadeInDown">Descrição da Página</p>
<button data-anime="1500">Clique Aqui</button>*/

.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

.js [data-anime] {
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}