/*PADRÃO DO CONTAINER*/
.container{
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/*--------------BOTÃO AMARELO-----------*/
.button{
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#FFBF00, #F2A50C);
    border-radius: 4px;
    box-shadow:  0 1px 2px rgb(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #332200;
    font: 600 1.125rem/1.35 'Poppins', sans-serif;
    max-width: max-content; /*Botão não cresce e permanece de tamanho unico*/
    border: none;
    cursor: pointer;
}

.button:hover{
    background: linear-gradient(#FFB60d, #e59317);
}


/*Botão secundario fundo cinza*/
.button.secundario{
    background: var(--cor-10);
    color: var(--cor-2);
}

.button.button.secundario:hover{
    background: var(--cor-9);
}

.button.seta{
    display: flex;
    align-items: center;
}

.button.seta::after{
    content: "";
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url(../../motos-img/icones/seta.svg);
    transition: transform 0.2s;
}

.button.seta:hover::after{
    transform: translateX(4px);
}


@media (max-width: 600px){
    .button{
        padding: 12px 16px;
        font-size: 1rem;
    }
}
.link{ 
    display: inline-block;
    color: var(--cor-p1);
    font: 500 1.5rem/1.5 'Poppins' sans-serif;
    text-transform: uppercase;
}

.link::after{
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor ;
}

.link:hover{
    color: var(--cor-0);
}

/*TÍTULO DAS PÁGINAS INTERNAS NOS TERMOS E CONDIÇÕES*/
.titulo-bg{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--cor-11);
}

.titulo{
      background:  url("../../motos-img/dec/top-right.svg") no-repeat top right 20px ;
}

.titulo p{
    margin-bottom: 4px;
}

@media(max-width: 800px){
    .titulo{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .titulo p{
        font-size: 1rem;
        text-transform: lowercase;
        font-weight: 400;
    }
}
