#contato{
  background: var(--cor-1);
}

.contato{
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario{
    padding: 06px;
    box-shadow: 0 1px 2px (0, 0, 0, 0.1) ;
}  

.contato-dados{
    border-radius: 5px 0 0 5px;
    background: var(--cor-12);
}

.contato-formulario{
    border-radius: 0 5px 5px 0;
    background: var(--cor-0);
}

.contato-dados h2{
    margin-left: 60px;
}

.contato-endereco{
    margin-bottom: 32px;
    margin-left: 28px;
    background: url("../../motos-img/icones/local.svg") no-repeat 0px 2px;
}

.contato-endereco p{
    margin-bottom: 8px;
}

.contato-meios a{
    display: block;
    max-width: max-content;
    margin-bottom: 8px;
    padding-left: 28px;
}

.contato-meios a:hover{
    color: var(--cor-0);
}

.contato-meios a:first-child{
    background: url(../../motos-img/icones/email.svg) no-repeat 0px 2px;
}

.contato-meios a:first-child(2){
    margin-bottom: 32px;
}

.contato-meios a:nth-child(3){
    background: url("../../motos-img/icones/telefone.svg") no-repeat 0px 2px;
    margin-bottom: 60px;
}

.contato-redes{
    display: flex;
    gap: 32px;
    padding-left:28px;
}

@media (max-width: 800px) {
    .contato{
        grid-template-columns: 1fr;
    }
    .contato-dados,
    .contato-formulario{
       padding: 20px;
    }
    .contato-dados{
        border-radius: 5px 0 0;
    }
    .contato-dados h2{

    }
}
