body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;color: #111111;
    padding-bottom: 600px;
}

h1, ul, p{
    margin: 0px;
}

ul{
    padding: 0px;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;/*Herda valor do pai-cor branco*/
}

img{
    max-width: 100%;
    display: block;
}
