.header-bg{
    background-color: var(--cor-12) ;
}

.header{
    display: flex ;
    flex-wrap: wrap;
    gap: 20px; /*Distancia dos elementos no modo responsivo*/
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-menu{
    display: flex ;
    gap: 40px;
}

.header-menu a{ /* Aumenta area de contato do link interno*/
    background: var(--cor-11);
    display: inline-block;
    padding: 10px 16px;
    border-radius: 4px;
    align-items: center;
    
}

.header-menu a:after{ /*Elemento com transições abaixo dos menus no header*/
    content: "";
    display: block;
    height: 2px;
    width: 0px;
    background: var(--cor-0);
    margin-top: 4px;
    transition: 0.3s;
    
}

.header-menu a:hover:after, /*Elemento abaixo do header menus*/
.header-menu a.ativo::after{
    width: 100%;
}

/*RESPONSIVO*/



@media (max-width: 1000px){
    .header-menu{
        font-size: 40px; 
        gap: 20px;
    }
    
    .header img{
        width: 200px;
    }


    .header-menu a{
        background: var(--cor-11);
        padding: 12px 16px;
        border-radius: 4px; 
    }

    .header-menu a:hover{ 
        background-color: var(--cor-10);
    }
    .header a:after{
        display: none;
    }
}

@media (max-width: 750px){
    .header-menu{
       gap: auto;
    }

    .header-menu a{
        padding: 8px 12px;
        font-size: 13px; 
    }
}
