.introducao-bg{
    background: var(--cor-12);
    color: var(--cor-0);
    box-shadow: inset 0px -120px #ffffff;/*Criado sombra interna branca que deixa a imagem de forma negativa*/
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    max-width: 1170px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.introducao-conteudo{
    align-self: end;
    padding-bottom: 200px;
}

.introducao img{
    height: 100%;
    object-fit: cover;
}

.introducao h1{
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    font-family: 'Poppins';
    font-weight: 600;
}

.introducao p{
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    font-family: 'Roboto';
    font-weight: 400;
}

.introducao a{
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#FFBF00, #F2A50C);
    border-radius: 4px;
    box-shadow:  0 1px 2px rgb(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: #332200;
    font-size: 18px;
    line-height: 1.33; 
    font-family: 'Poppins';
    font-weight: 600;
}

.introducao a:hover{
    background: linear-gradient(#FFB60d, #e59317);
}

@media (max-width: 600px){
    .introducao a{
        padding: 12px 16px;
        font-size: 16px;
    }
}

@media(max-width: 1200px){
    .introducao h1{
        font-size: 48px;
    }
    .introducao p{
        font-size: 18px;
    }
}
@media(max-width: 800px){
    .introducao-bg{
        background: #111111;
        padding-top: 40px;
        box-shadow: inset 0 -60px #ffffff;
    }
    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .introducao-conteudo{
        padding-bottom: 0px;
    }
    .introducao h1{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introducao img{
        height: 300px;
        width: 100%;
    }
}