.motos-bg{
    background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}

.motos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.motos-imagem{
position: relative;
}

.motos-imagem span{
    background: var(--cor-12);
    display: inline-block;
    padding: 8px 16px 8px 8px;
    position: absolute;
    top: 20px;
    right: 0px;
    border-radius: 4px 0 0 5px;
}

.motos-conteudo{
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.motos h2,
.motos p{
    grid-column: 1/-1;
}

.motos h2{
    margin-bottom: 20px;
}

.motos h2::before{
    content: "";   
    display: block;
    width: 12px;
    height: 8px;
    background-color: var(--cor-p1);
    margin-bottom: 8px;
}

.motos p{
    margin-bottom: 32px;
}

.motos a{
    place-self: end;
}

.motos li{
    display: flex;
    align-items: center;
}

.motos ul{
    display: grid;
    gap: 16px;
}

.motos-conteudo img{
    width: 24px;
    margin-right: 8px;
}

@media(max-width: 800px){
    .motos-bg{
        background: var(--cor-11);
    }
    .motos{
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media(max-width: 600px) {
    .motos-bg{
        background: var(--cor-11);
    }
    .motos-conteudo{
        grid-template-columns: 1fr;
    }
    .motos ul{
        font-size: 1fr;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
    }
    .motos a{
        place-self: start;
    }
}