.moto{
display: grid;
grid-template-columns: 1fr 1fr;
align-items: start;
gap: 40px;
padding-top: 60px;
padding-bottom: 60px;
}

#moto .titulo p{
    text-transform: uppercase;
}

.moto-imagem{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.moto-imagem img{
    flex: 1;
    min-width: 200px;
}

.yamaha-img{
    padding-left: 132px;
}

.moto-imagem img:first-child{
min-width: 100%;
}

.moto-conteudo > p{
    margin-bottom: 32px;
}

.moto-comprar{
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items: start;
    gap: 8px 12px;
    margin-bottom: 40px;

}

.moto-comprar a{
    grid-row: span 2;
}

.moto-comprar span{
    display: flex;
    align-items: center;
    background-color: var(--cor-12);
    gap: 8px;
    padding: 4px 8px;
    border-radius: 4px;
}

.moto-conteudo  h2{
    text-transform: uppercase;
    letter-spacing: 0.015em;
    margin-bottom: 12px;
}

.moto-informacoes,
.moto-ficha{
    margin-bottom: 10px;
    padding: 32px;
    background-color: var(--cor-12);
}

.moto-informacoes{
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.moto-informacoes img{
    width: 24px;
    margin-bottom: 8px;
}

.moto-informacoes h3{
    margin-bottom: 8px;
}
.moto-ficha li{
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-11);
}

.moto-ficha li:last-child{
    border-bottom: none;
}

.moto-ficha span{
    color: var(--cor-6);
}

@media (max-width: 800px){
    .moto{
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .moto-imagem{
        grid-row: 2;
    }
    .yamaha-img{
        padding-left: 10px;
    }
}

@media (max-width: 400px){
      .moto-informacoes{
        grid-template-columns: 1fr;
    }
    .moto-comprar{
        grid-template-columns: 1fr;
    }
}
